.content-media
 {
     margin: 10px;
 }

 .icon
 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 5px;
    animation-name: moveLeftRight;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.iconos-tecnologias
{
    width: 80px;
    height: 80px;
    animation-name: moveTopBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes moveTopBottom {
    0%{transform: translateY(0px);}
    50%{transform: translateY(10px);}
    100%{transform: translateY(0px);}
}
   
@keyframes moveLeftRight {
    0%{transform: translateX(0px);}
    25%{transform: translateX(50px);}
    50%{transform: translateX(0px);}
    70%{transform: translateX(-50px);}
    100%{transform: translateX(0px);}
}
*
{
    font-family: "Calibri";
}
 .col
{
    /* border: 1px solid blue; */
}

footer
{
    position: fixed;
    display: flex; 
    left: 0;
    bottom: 0;
    width: 100%;
    /* border: 1px solid #006494; */
    animation-name: fondo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

header
{
    width: 100%;
    /* border: 1px solid blue;   */
    animation-name: fondo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}
@keyframes fondo
{
    0%{background-color: #03045e;}
    50%{background-color: #023e8a;}
    75%{background-color: #0077b6;}
    100%{background-color: #03045e;}
}
.icono-edu
{
    width: 90px;
    height: 90px;
}

.educacion
{
    display: flex;
    flex-direction: column;
}
.oculto
{
    display: none;

}

